- size ||= :large
- alt  ||= ''
- user ||= User.find(current_user.id)
.avatar{class: size.to_s}
  - if user.try(:avatar).present?
    = image_tag user.avatar.normal.url
  - else
    = image_tag user.image_url(size: size, ssl: request.ssl?), alt: alt
  %i.default.fa.fa-user
