//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self

// Core
@import "variables";
@import "bootstrap";
@import "bootstrap_theme";
@import "icons_social";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";
@import "navigation";

$nprogress-color: $brand-warning;
// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';



//
// Minor Tweaks
//

html {
  min-height: 100%;
}

// Padding to clear fixed nav
body {
  padding-top: 70px;
}

img {
  @extend .img-responsive;
}
a {
  &.text-danger:hover {color: darken($brand-danger, 15%);}
}

// Make sure alerts are nicely formatted
.alert {
  a {
    white-space: nowrap;
  }
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}

.t {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin: 10px;
}

.bg-gray-base {
  background-color: $gray-base;
}
.bg-gray-darker {
  background-color: $gray-darker;
}
.bg-gray-dark {
  background-color: $gray-dark;
}
.bg-gray {
  background-color: $gray;
}
.bg-gray-light {
  background-color: $gray-light;
}
.bg-gray-lighter {
  background-color: $gray-lighter;
}
